* {
    box-sizing: border-box;
    /* margin: 0; */
}

html {
    font-family: Montserrat-Regular;
    width: 100%;
}

body {
    margin: 0;
    /* height: 100vh; */
    /* height: 100%; */
    /* width: 100%; */
    background-color: #e3e3e3;
}

.header-container {
    background-color: #e97e14;
    /* margin-bottom: 20px; */
    /* height: 50px; */
    height: 7%;
    /* position: relative; */
}

.flex {
    display: flex;
}

.main-header {
    height: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.logo {
    display: flex;
    height: 35px;
    width: 35px;
    /* float: right; */
    justify-content: center;
    margin-left: 5%;
    /* align-items: center; */
}

.meme-logo {
    display: flex;
    /* object-fit: contain; */
    justify-content: center;
    align-items: center;
}

.images-container {
    position: relative;
    display: grid;
    background-color: #e3e3e3;
    padding: 50px;
    height: 70vh;
    justify-content: center;
}

.grid-container {
    display: grid;
    /* display: none; */
    grid-template-columns: repeat(3, 33%);
    margin: 0 auto;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    width: 70%;
    /* height: 80%; */
    gap: 40px;
    border-bottom: 2px solid grey;
    justify-content: stretch;
    padding: 20px 0 10px 0;
}

.grid-container>* {
    height: 100%;
    width: 100%;
    /* max-height: 450px; */
    /* max-width: 450px; */
    border-radius: 5px;
}

.meme-edit {
    position: relative;
    display: none;
    /* display: flex; */
    /* display:block; */
    background-color: cornsilk;
    justify-content: space-around;
    gap: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
    /* margin-bottom: auto; */
    height: 60%;
    width: 70%;
    /* flex-direction: column; */
}

.canvas-container {
    display: grid;
    height: 100%;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: auto;
    /* margin: 0 auto; */
}

.grid2 {
    grid-row: 1/2;
    grid-column: 3/-1;
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto; */
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 25% auto 25% 10%; */
}

#meme-canvas {
    /* display: flex; */
    position: relative;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-row: 1/-1;
    grid-column: 1/2;
}

.control-box {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 45% 30% 15% 5%;
    border: 2px solid black;
    /* display: flex; */
    /* flex-direction: row; */
    /* gap: 35px; */
    height: 100%;
    /* padding-right: 115px; */
}

.lines-edit {
    /* gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25%;
    margin-top: 30px;
    margin-bottom: auto; */
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-items: center;
}

.text-edit-btns {
    gap: 15px;
    justify-content: center;
}

.lower-btns {
    align-items: center;
    display: flex;
    gap: 15px;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.control-box{
    width: 100%;
    height: 100%;
    /* border: 0px solid rgb(131, 131, 131); */
    /* background-color: #ffffff; */
    border-radius: 5px;
    /* cursor: pointer; */
}



.buttons-control-box {
    height: 80%;
    width: 50%;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
    
}

button{
    cursor: pointer;
}

/* img {
    height: 50px;
    width: 50px;
} */

.enter-text {
    display: flex;
    align-items: center;
}

.lines-btns {
    justify-content: center;
    /* display: flex; */
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 35% 35% 30%;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    align-items: center;
}

/* button {
    height: 25px;
} */

.img-btn {
    /* height: 80%;
    width: 80%; */
    height: 30px;
    width: 30px;
    max-height: fit-content;
    max-width: fit-content;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

input[name="textLine"] {
    /* margin-top: 0.625rem; */
    height: 2.5em;
    width: 90%;
    border-radius: 5px;
    /* display: flex; */
    justify-content: center;
    grid-row: 1/2;
    grid-column: 1/4;
}

.pos-btn {
    /* font-size: 30px; */
    font-size: 120%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.font-decrease{
    grid-row: 1/-1;
    grid-column: 2/3;
}

.font-increase{
    grid-row: 1/-1;
    grid-column: 3/4;
}

.socials-btns {
    grid-row: 4/5;
}

.addText {
    grid-row: 1/2;
    grid-column: 4/-1;
}
.switch{
    grid-row: 2/3;
    grid-column: 2/3;
}
.trash{
    grid-row: 2/3;
    grid-column: 3/4;
}
.right{
    grid-row: 3/-1;
    grid-column: 1/2;
}
.left{
    grid-row: 3/-1;
    grid-column: 2/3;
}
.up{
    grid-row: 3/-1;
    grid-column: 3/4;
}
.down{
    grid-row: 3/-1;
    grid-column: 4/5;
}

.socials-btns >* {
    background-color: #e97e14;
}
.downloadBtn {
    grid-row: 4/-1;
    display: flex;
    background-color: #e97e14;
}
/* small screen */

@media screen and (max-width: 1000px) {
    .images-container {
        position: relative;
        display: grid;
        background-color: #e3e3e3;
        padding: 50px;
        height: 70vh;
        justify-content: center;
    }
    .meme-edit {
        position: relative;
        /* display: none; */
        /* background-color: cornsilk; */
        /* background-color: black; */
        justify-content: space-between;
        gap: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0 auto;
        /* width: 90%; */
        /* margin-bottom: auto; */
        height: 60%; 
        width: 70%;
    }
    /* .control-box button {
        width: 25px;
        height: 25px;
        border: 0px solid rgb(131, 131, 131);
        background-color: #ffffff;
        border-radius: 5px;
    } */

    .buttons-control-box {
        height: 80%;
        width: 50%;
        max-width: 50px;
        max-height: 50px;
        display: flex;
        background-color: transparent;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .pos-btn {
        font-size: 20px;
    }

    /* .img-btn {
        height: 25px;
        width: 25px;
    } */
    .img-btn {
        /* height: 80%;
        width: 80%; */
        height: 25px;
        width: 25px;
        max-height: fit-content;
        max-width: fit-content;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 750px) {
    .img-btn {
        /* height: 80%;
        width: 80%; */
        height: 20px;
        width: 20px;
        max-height: fit-content;
        max-width: fit-content;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
    }
    .pos-btn {
        font-size: 18px;
    }
}
/* mobile */

@media screen and (max-width:550px) {
    .images-container {
        position: relative;
        display: grid;
        /* background-color: #e3e3e3; */
        padding: 50px;
        height: 70vh;
        /* width: 150vw; */
        justify-content: center;
    }
    .grid-container {
        display: grid;
        /* display: none; */
        grid-template-columns: auto;
        margin: 0 auto;
        /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
        width: 100%;
        /* height: 80%; */
        gap: 40px;
        border-bottom: 2px solid grey;
        justify-content: stretch;
        padding: 20px 0 10px 0;
    }
    .meme-edit {
        position: relative;
        /* display: none; */
        /* background-color: cornsilk; */
        justify-content: space-between;
        gap: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0 auto;
        /* margin-bottom: auto; */
        height: auto;
        width: 100%;
    }
    .meme-edit {
        position: relative;
        justify-content: space-between;
        gap: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin: 0 auto;
        height: 60%; 
        width: 70%;
    }
    .canvas-container {
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 45% 10% 45%;
        margin: 0 auto;
    }
    .grid2 {
        grid-row: 3/-1;
        grid-column: 1/-1;
        margin: 0 auto;
        width: 90%;
    }
    #meme-canvas {
        /* display: flex; */
        position: relative;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
        /* align-self: center; */
        height: 100%;
        width: 90%;
        grid-row: 1/2;
        grid-column: 1/2;
        margin: 0 auto;
    }
    .meme-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .logo {
        display: flex;
        height: 60%;
        width: 100px;
        justify-content: center;
    }
  
    .control-box {
        grid-template-columns: auto;
        grid-template-rows: 2.5% 52.5% 25% 20%;
    }
    
    .pos-btn {
        font-size: 15px;
    }
    .img-btn {
        height: 20px;
        width: 20px;
    }
}